h2 {
  font-family: 'Helvetica', sans-serif;
}

h4 {
  font-family: 'Hevetica', sans-serif;
}

h6 {
  font-family: 'Helvetica', sans-serif;
  margin-top: 5px;
  font-size: 20px;
}

a:hover,
a:active,
a:focus {
  color: #448ee2;
}

.search-row {
  margin-top: 80px;
}

.input-group {
  width: 300px;
  margin: 0 auto;
}

.input-group-addon {
  color: #448ee2;
  background: #ead620;
  border-radius: 0 50px 50px 0;
  border: none;
}

input #search {
  border-radius: 50px 50px 50px 50px;
  border: none;
  box-shadow: none;
}

#randomTitle {
  margin-top: 30px;
}

#randomExtract {
  padding: 10px 50px 10px 50px;
}

#searchResults {
  margin-top: 50px;
}

.item {
  margin-bottom: 50px;
  margin-right: 15px;
  margin-left: 15px;
}

.item-body {
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 0 10px 10px 0;
}

.item-body:hover {
  background: #7bb6d8;
}

body {
    font-family:'Pacifico', cursive;
    outline: none;
    color: #ead620;
    letter-spacing: 1px;
    height: 100vh;
    background: url("https://bit.ly/2Nlkn8m") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    padding-top: 300px;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
}

#box-ul{
    min-width: 90px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.logo {
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #f44242;
}

.text-center {
  font-size: 12px;
}

